@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
 
.londrina-solid {
font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.marvel-regular {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marvel-regular-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marvel-bold-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: italic;
}  

.icon{
  width: 100px;
  height: auto;
}

.boxed-text{
  border: 2px solid white;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  background-color: #9B81F0;
}

img.logo {
    float: left;
    width: 50rem;
    height: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    cursor:pointer;
    transition: transform 0.4s ease-in-out;
  }

  img.logo:hover {
      transform:scale(1.1);
  }

  .fit {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header {
    font-weight: 300;
    font-family: "Londrina Solid";
    font-size: 80px;
    color: #242781;
  }

  .spacer {
    padding-left: 17rem;
  } 

  .topspace {
    padding-top: 8rem;
  }

  .smalltopspace {
    padding-top: 4rem;
  }

  .medtopspace {
    padding-top: 6rem;
  }

  .leftspace {
    padding-left: 5rem;
  }

  .rightspace {
    padding-right: 5rem;
  } 

  .centerspace {
    text-align: center;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 55px;
    color: #242781;
  }

  h2 {
    font-size: 50px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
  }

  h3 {
    font-size: 40px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
  }

  h4 {
    font-size: 30px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
  }

  p {
    font-size: 30px;
    font-family: "Marvel", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
  }

  .image-row {
    display: flex;
    flex-wrap:wrap;
    gap: 1.1rem;
    align-items: center;
    justify-content: center;
  }

  .btn img {
    width: 25rem;
    height: auto;
    cursor:pointer;
    transition: 
      background-color 0.3s ease, transform 0.3s ease;}

  .btn:hover {
      transform:scale(1.1)}

  .slideshow {
    display: flex;
    align-items: left;
  }

  .slideshow iframe {
  position: relative;
  width: 40rem;
  height: 22.5rem;
  border: none;
}

.format{
  max-width: 35rem;
}

  @media (max-width: 600px){
  img.logo{
    width: 120px;
  }
}