@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
 
.londrina-solid {
font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.londrina-solid-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-solid-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.marvel-regular {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marvel-regular-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marvel-bold-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: italic;
}  

.icon{
  width: 100px;
  height: auto;
}

.boxed-text{
  border: 2px solid white;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  background-color: #9B81F0;
}

img.logo {
    float: left;
    width: 60rem;
    height: auto;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .fit {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header {
    font-weight: 300;
    font-family: "Londrina Solid";
    font-size: 80px;
    color: #242781;
    padding-left: 2rem;
  }

  .spacer {
    padding-left: 17rem;
  } 

  .topspace {
    padding-top: 8rem;
  }

  h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 55px;
    color: #242781;
  }

  h2 {
    font-size: 50px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
  }

  h3 {
    font-size: 40px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
    padding: 1em;
  }

  h4 {
    font-size: 30px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #242781;
    padding: 0.5em;
  }

  p {
    font-size: 40px;
    font-family: "Marvel", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    padding-left: 10rem;
  }

  .image-row {
    display: flex;
    flex-wrap:wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }

  .image-lined img {
    width: 450px;
    height: auto;
  }

  .image-lined p {
    text-align: center;
    font-size: 40px;
    font-family: "Marvel", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
    padding: 10px;
    border-radius: 20px;
    background-color: #9b81f0;
  }

  @media (max-width: 600px){
  img.logo{
    width: 120px;
  }
}